<!DOCTYPE html>
<html>
<head>
    <title>About</title>
	<link rel="icon" href="#">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{!-- {{>header}} --}}
        <p>This site was created by Harshiv Patel.</p>

    </div>
    
    {{!-- {{>footer}} --}}
</body>
</html>